Package: com.fakefake.unblurmaps
Name: UnblurMaps
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: FakeFake <fakefakedev@gmail.com>
Author: FakeFake <fakefakedev@gmail.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
